{% extends 'base.html' %}
{% block title %} Teacher for course {% endblock %}
{% block content %}
    <div class="row">
        {% for teacher in get_all_teachers %}
           <div class="card" style="width: 18rem; margin-right: 10px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }}</h5>
                    <p href="card-text"> {{ teacher.specialisation }}</p>
                </div>
           </div>
        {% endfor %}
    </div>
{% endblock %}