{% extends 'base.html' %}
{% block title %} More information {% endblock %}

{% block content %}

    <div class="card text-center">
        <div class="card-header">
            Create at {{ student.created_at }}
        </div>
        <div class="card-body">
            <h5 class="card-title"> {{ student.first_name }} {{ student.last_name }}</h5>

            <p class="card-text"> Age: {{ student.age }} </p>
            <p class="card-text"> Date of birth: {{ student.date_of_birth }}</p>
            <p class="card-text"> Gender: {{ student.gender }}</p>
            <p class="card-text"> Teacher: {{ student.teacher.first_name }}{{ student.teacher.last_name }}</p>
            <a href="{% url 'list-of-student' %}" class="btn btn-primary btn-xs">List of students</a>
        </div>
        <div class="card-footer text-muted">
           Update at {{ student.update_at }}
        </div>
    </div>
{% endblock %}