{% extends 'base.html' %}
{% block title %} Update Student {% endblock %} {#inlocuiesti ce am scris in fisierul base; titlul sus din browser#}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST"> {# Vrem sa savlam date in baza de date #}
                {% csrf_token %} {# securitate vine de la jango creaza un input ascuns#}
                {{ form.as_p }}
                {#genereaza formularul cu ce campuri am definite de noi; denumire standart; as_p=formateaza formularul #}
                <button type="submit" class="btn btn-primary">Update</button>
                {# salveaza informatiile; clasa de css #}
            </form>
        </div>
    </div>
{% endblock %}
