{% extends 'base.html' %}
{% block title %}List of brands{% endblock %}
{% block content %}
    <h1> List of brands </h1>
    {% for brand in cars %}

            <p>{{ brand.Infiintare }}</p>
            <p>{{ brand.CA }}</p>
            <p>{{ brand.Nume }}</p>
    {% endfor %}
    <a href="{% url 'list_of_student' %}" class="btn btn-primary">Go to list of students</a>
{% endblock %}
