{% extends 'base.html' %}
{% block title %} {% endblock %}

{% block content %}
<p> Are you sure delete {{ teacher.first_name }} {{ teacher.last_name }}</p>
    <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Yes</button>
    <a href="{% url 'list-teacher'%}" class="btn btn-primary">No</a>
    <button type="button" onclick="location.href='{% url 'list-teacher' %}'"> No, sure</button>
    </form>
{% endblock %}