{% extends 'base.html' %}
{% block title %} More information {% endblock %}

{% block content %}


    <div class="card text-center">
        <div class="card-header">
            Create at {{ teacher.created_at }}
        </div>
        <div class="card-body"></div>
        <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>

        <p class="card-text">Specialisation: {{ teacher.specialisation }}</p>
        <p class="card-text">Active: {{ teacher.active }}</p>
        <a href="{% url 'list-teacher' %}" class="btn btn-primary btn-xs">List of teacher</a>
        <div class="card-footer text-muted">
            Update at{{ teacher.update_at }}
        </div>
    </div>
{% endblock %}