{% extends 'base.html' %}
{% block title %} List of teacher {% endblock %}

{% block content %}
    <form method="get">
    {{ my_filter.form }}
    <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for teacher in all_teachers %}
           <div class="card" style="width: 18rem; margin-right: 10px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }}</h5>
                    <p href="card-text"> {{ teacher.specialisation }}</p>
                </div>
                <div class="card-footer">
                    {% if perms.teacher.change_teacher %}
                    <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-primary">Update</a>
                    {% endif %}

                    {% if perms.teacher.delete_teacher %}
                    <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}

                        <div style="margin-top: 10px">
                         {% if perms.teacher.detail_teacher %}
                        <a href="{% url 'detail-teacher' teacher.id %}" class="btn btn-outline-info">More information</a>
                         {% endif %}
                        </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}